html {
    font-family: 'Quicksand', sans-serif;
    color: rgb(68, 68, 68);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-width: 500px;
}

button {
    background-color: white;
    border: 1px solid rgb(68, 68, 68);
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(68, 68, 68);
}

button:hover {
    cursor: pointer;
}

input {
    padding: 8px 16px;
    width: 100px;
    font-size: 14px;
    margin-right: 16px;
    border: 1px solid rgb(68, 68, 68);
    border-radius: 8px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(68, 68, 68);
}

.header {
    width: 100%;
    text-align: center;
    font-size: 28px;
    border-bottom: 1px solid rgb(68, 68, 68);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 16px;
    text-align: center;
    border-top: 1px solid rgb(68, 68, 68);
}

.game {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    border: 1px solid rgb(68, 68, 68);
    display: grid;
    width: 500px;
    height: 500px;
}

.color-buttons {
    margin-top: 16px;
}

.color-buttons .black:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

.color-buttons .green:hover {
    background-color: rgba(75, 224, 143, 0.75);
    transition: 0.5s;
}

.color-buttons .purple:hover {
    background-color: rgba(136, 91, 227, 0.75);
    transition: 0.5s;
}

.reset {
    margin: 16px;
}

.reset:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

.input-button:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

.error {
    text-align: center;
    margin: 16px;
    display: none;
}